* {
    padding: 0;
    margin: 0;
}

.londrina-shadow-regular {
    font-family: "Londrina Shadow", serif;
    font-weight: 400;
    font-style: normal;
}

.archivo-black-regular {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.body {
    background-color:  #04393a;
}

a {
    text-decoration: none;
    color : white;
}

a:hover{
    cursor: pointer;
}

.hero {
    background-image: url("pics/backimg.jpg");
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.419);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    color: white;
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", serif;
}

.logo img {
    height: 4rem;
    border-radius: 50%;
}

.sections {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.sections a:hover{
    border-bottom : 2px solid white;
    padding : 15px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 12rem;
    height: 2.3rem;
    border-radius: 25px;
    border: none;
    padding-left: 1.4rem;
    outline: none;
}

.search input::placeholder {
    color: #038b8d;
    opacity: 1;
}

.search_icon {
    color: #038b8d;
    position: relative;
    left: -2.3rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    background-color: #038b8d;
    height: 2.5rem;
    border-radius: 25px;
    font-weight: 600;
}


.login_icon {
    margin-right: 1rem;
}

.fa-solid fa-circle-user {
    width: 3rem;
}

.content {
    margin-top: 6rem;
}

.tagline {
    font-family: "Archivo Black", serif;
    height: 8rem;
    font-size: 3rem;
    padding-left: 3rem;
    margin-left: 2rem;
    border-left: 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design_text {
    font-family: "Londrina Shadow", serif;
    font-size: 8rem;
    margin-left: 5rem;
}

.lower_sec {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about p {
    color: rgba(255, 255, 255, 0.586);
    padding-right: 40rem;
}

.icons {
    color: white;
    font-size: 1.4rem;
    height: 12rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 1rem;
}

.ic1:hover{
    border-bottom : 2px solid white;
    transform: scale(1.3);
}

.ic2:hover{
    border-bottom : 2px solid white;
    transform: scale(1.3);
}

.ic3:hover{
    border-bottom : 2px solid white;
    transform: scale(1.3);
}

.ic4:hover{
    border-bottom : 2px solid white;
    transform: scale(1.3);
}

.button1 button {
    background-color: #038b8d;
    border: none;
    margin-top: 1rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    width: 7rem;
    height: 2rem;
}
